# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# Editor/IDE configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build artifacts
dist/
build/

# Optional: temp files
*.tmp
*.swp
